.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    .burger-menu {
        pointer-events: all;
        width: 60px;
        height: 60px;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        border-radius: 50px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }

    .navbar {
        pointer-events: all;
        transform: translateX(-100vw);
        transition: transform 0.3s ease-in-out;
        background: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 4rem 0;
        box-sizing: border-box;
        

        
        a, span {            
            color: white;
            text-decoration: none;
            margin: 1rem 0;
            background: rgba(255, 255, 255, 0.1);
            width: 80%;
            text-align: center;
            padding: 15px;
            opacity: 1;
            transition: opacity ease 0.3s;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            &.disconnect {
                background: $red;
            }
        }



        &.active {
            transform: translateX(0);
        }
    }
}