// BACKGROUNDS

$bgDark: #131313;
$bgLight: #f9f9f9;
$bgSecondary: #f5f5f5;


// FONT STYLE

$fontB: 300 1rem 'Roboto';
$fontR: 400 1rem 'Roboto';
$fontL: 500 1rem 'Roboto';
$fontXL: normal 1rem 'Bayon';

// TEXT COLOR

$textLight: #f9f9f9;
$textDark: #0e0e0e;

$red: #C00000;
$blue: rgb(30, 144, 255);
$darkerblue: rgb(9, 89, 169);