@mixin media-max($_max_width) {
    @media screen and (max-width: $_max_width) {
      &{ @content; }
    }
  }

.my-lib-ui-form-field-button {
    margin: 10px 0;

    .button_submit{
        width: 326px;
        height: 44px;
        background: #C00000;
        color: white;
        border: none;
        cursor: pointer;
        
        @include media-max(768px) {
            width: 100%;
        }
    }

    .button_submit.button_linkto {
      padding: 5px 20px;
    }
    
  @include media-max(768px) {
    margin: 25px;
    flex-basis: 100%;
  }
}