.footer-container-global {
    background: black;
    width: 100vw;
    height: 144px;
    color: white;

    .footer-liste {
        list-style: none;

        li {
            padding: 10px;

            span {
                cursor: pointer;
                transition: all .5s ease-in-out;

                &:hover {
                    text-decoration: underline;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }

    .footer-copyright {
        text-align: center;
        font-family: 'Abel Pro';
        font-size: 16px;
    }
}