{% extends 'base.html.twig' %}

{% block title %}New FutureUser{% endblock %}

{% block body %}
    <h1>Create new FutureUser</h1>

    {{ include('future_user/_form.html.twig') }}

    <a href="{{ path('app_future_user_index') }}">back to list</a>
{% endblock %}
