html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ImageHomeComponent */
.section-img-text {
  width: 100%;
  height: 424px;
  position: relative;
}

.section-img-text .imgHome {
  width: 100%;
  height: 100%;
  background-image: url("/images/voitures.jpg");
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
}

.section-img-text .container-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-img-text .description {
  background: white;
  height: 104px;
  width: 795.92px;
  padding: 16px 43px;
}

.section-img-text .separator {
  margin: auto;
  width: 750px;
  border: 1px solid #C00000;
}

/*FORM*/

.main_form {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.form_register {
  width: 710px;
}

.form_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #C00000;
}

.form_register_label_radio_title {
  font-weight: 400;
  font-size: 16px;
}

.radio_register_position {
  display: flex;
  flex-direction: row;
}

.form_register_input_position {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form_register_figma_row {
  margin: 16px 0;
}

.form_register_figma_row-button {
  display: flex;
  justify-content: flex-end;
}

.form_register_row_position {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 24px;
}

/* PAGE CONNEXION */
.container-global-login {
  background: #f9f9f9;
}

.main_login {
  height: 737px;
}

.form_login {
  background: white;
  padding: 16px 9px;
  height: 320px;
}

.main_login .form_title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #C00000;
  margin-top: 0;
}

.form_login_figma_row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login_page_position {
  display: flex;
  flex-direction: column;
}

.retour_link {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 275px;
  margin-bottom: -13px;
}

.form_login_figma_row .my-lib-ui-form-field {
  width: 100%;
}


/* MESSAGE DE CONFIRMATION REGISTER */

.section-message-confirmation {
  width: 42%;
}

.msg-container-message > span {
  white-space: pre-line;
}

.msg-container-download {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .description {
    width: 537px !important;
    height: unset !important;
  }

  .section-img-text .separator {
    width: 100%;
  }

  .main_form.main_register {
    margin-top: 7%;
  }

  .main_register .form_register {
    width: 100%;
  }

  .main_register .form_title {
    margin: 0 25px;
  }

  .form_register_figma_row {
    margin: 20px 25px;
  }

  .form_register_row_position {
    flex-direction: column;
    margin-top: 24px;
  }

  .form_register_figma_row-button {
    justify-content: center;
  }


  .section-message-confirmation {
    width: 90%;
    background: #f9f9f9;
    padding: 16px;
    margin-bottom: 80px;
  }

  .msg-container-download {
    flex-direction: column;
    gap: 24px;
    margin-top: 7%;
    align-items: center;
  }

  .msg-container-download > img {
    height: 55px;
    width: 185px;
  }
}


@media screen and (max-width: 768px) {
  .form_login {
    flex-basis: 90%;
    margin-top: 7%;
  }

  /* surcharge spéciale */
  .main_login .my-lib-ui-form-field-button {
    margin: 10px 0;
  }
}