html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: white;
  padding: 4px;
}

.container-logo-name {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-logo {
  background: black;
  width: 66px;
  height: 66px;
  margin-right: 14px;
}

.container-name {
  font-size: 39.15px;
  font-family: fantasy;
  font-weight: 400;
  line-height: 70.73px;
}

.container-connexion {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
}

.btn-connexion {
  align-items: center;
  background: #C00000;
  border: none;
  width: 150px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.section-img-text {
  width: 100vw;
  height: 424px;
  position: relative;
}

.imgHome {
  width: 100%;
  height: 100%;
  background-image: url("/voitures.jpg");
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
}

.container-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.description {
  background: white;
  height: 104px;
  width: 795.92px;
  padding: 16px 43px;
}

.separator {
  margin: auto;
  width: 750px;
  border: 1px solid #C00000;
}