html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ImageHomeComponent */
.section-img-text {
  width: 100%;
  height: 424px;
  position: relative;
}

.section-img-text .imgHome {
  width: 100%;
  height: 100%;
  background-image: url("/images/voitures.jpg");
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
}

.section-img-text .container-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-img-text .description {
  background: white;
  height: 104px;
  width: 795.92px;
  padding: 16px 43px;
}

.section-img-text .separator {
  margin: auto;
  width: 750px;
  border: 1px solid #C00000;
}

/*FORM*/

.main_form
{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.form_register 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}

.form_title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #C00000;
}

.form_register_label_radio_title
{
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

}

.radio_register_position
{
  display: flex;
  flex-direction: row;
}

.form_register_input_position{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form_register_row_position{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

/*PAGE CONNEXION*/

.connexion_title{
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.login_page_position{
  display: flex;
  flex-direction: column;
}

.retour_link{
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 275px;
  margin-bottom: -13px;
} 
/* MESSAGE DE CONFIRMATION REGISTER */

.section-message-confirmation {
  width: 42%;
}

.msg-container-message > span {
  white-space: pre-line;
}

.msg-container-download {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}